body{
   background-color: rgb(212, 16, 45)
} 
.title {
    border: 20px solid rgb(0,0,0);
    margin: 0 auto;
    width: 30%;
    background-color: rgb(255, 255, 255);
}
.title p {
    text-align: center;
    font: small-caps bold 1.2rem arial;
    font-size: 45px;
}
.nice-for-what {
    margin: 0 auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
    background-color: white;
    margin-top: 10px;
}   
.nice-for-what img{
    width: 70%;
    border: 5px solid black;
}
.nice-for-what p {
    font: small-caps bold 1.2rem arial;
    font-size: 30px;
    width: 95%;
}
.nice-for-what p2 {
    margin-top: 10px;
    font: small-caps bold 1.2rem arial;
    font-size: 15px;
    width: 100%;
}
.novacane {
    margin: 0 auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
    background-color: white;
    margin-top: 10px;
}
.novacane img{
    width: 70%;
    border: 5px solid black;
}
.novacane p{
    font: small-caps bold 1.2rem arial;
    font-size: 30px;
    width: 95%;
}
.novacane p2 {
    margin-top: 10px;
    font: small-caps bold 1.2rem arial;
    font-size: 15px;
    width: 100%;
}
.see-you-again {
    margin: 0 auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
    background-color: white;
    margin-top: 10px;
}
.see-you-again img {
    width: 70%;
    border: 5px solid black;
}
.see-you-again p {
    font: small-caps bold 1.2rem arial;
    font-size: 30px;
    width: 95%;
}
.see-you-again p2 {
    margin-top: 10px;
    font: small-caps bold 1.2rem arial;
    font-size: 15px;
    width: 100%;
}